<a href="https://colab.research.google.com/github/rafalopes74/EnergyConsuptionAI/blob/main/EnergyConsumption.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
!wget --no-clobber https://raw.githubusercontent.com/rafalopes74/EnergyConsuptionAI/main/DAYTON_hourly.csv?token=GHSAT0AAAAAABRKU4LTWL3UOPDB5KDZGDZYYSDIXMQ

File ‘DAYTON_hourly.csv?token=GHSAT0AAAAAABRKU4LTWL3UOPDB5KDZGDZYYSDIXMQ’ already there; not retrieving.

In [ ]:
data = pd.read_csv("/content/DAYTON_hourly.csv?token=GHSAT0AAAAAABRKU4LTWL3UOPDB5KDZGDZYYSDIXMQ", header = 'infer')

In [ ]:
data.head(5)

              Datetime  DAYTON_MW
0  2004-12-31 01:00:00     1596.0
1  2004-12-31 02:00:00     1517.0
2  2004-12-31 03:00:00     1486.0
3  2004-12-31 04:00:00     1469.0
4  2004-12-31 05:00:00     1472.0

In [ ]:
data['Datetime'] = pd.to_datetime(data['Datetime'])

data['Datetime'].dt.day

0         31
1         31
2         31
3         31
4         31
          ..
121270     1
121271     1
121272     1
121273     1
121274     2
Name: Datetime, Length: 121275, dtype: int64